.info{
    display: flex;
    flex-direction: row;
    
}

.table {
    width: 45%;
    margin-right: 10%;
}

#paint{
    width: 300px;
    height: 300px;
    border: 2px solid blue;
    background-color: black;
    margin-right: 10%;
}