body{
    background-color: darkgrey;
}

.info{
    display: flex;
    flex-direction: row;
    
}

.table {
    width: 45%;
    margin-right: 10%;
}

#paint{
    /* width: 1000px;
    height: 1000px; */
    border: 2px solid blue;
    background-color: black;
    margin-right: 10%;
}

.draw {
    background-color: chocolate;
}